<%if current_user.role == 'trabajador'%>
        <%if Curriculum.exists?(:user_id =>current_user.id)%>
          <% controller.redirect_to (@curriculum)%>
        <%else%>
         	<section id="site-body">
				<div class="editar">
					<%= render 'form', curriculum: @curriculum %>
					<div class ="volver">
					<%= link_to 'Volver', curriculums_path, id:'volver' %>
					</div>
				</div>
			</section>
        <%end%>
<% end %>


