<section>
	<div class="welcome">
		<div class="logowel"><%= image_tag 'logo.png', id:'imglogo'%></div>
		<p>Portal de Empleo de la localidad de Ubrique para el sector de la marroquinería.</p>
		<div class="texto">
			<div>
			<br>
				<p>¿Necesitas profesional para tu empresa?</p>
				<p>Ubriempleo le ayuda a encontrar al candidato ideal. Además podrás publicar sus ofertas.</p><br>
			</div>
			<div>
				<br>
				<p>¿Buscas empleo?</p>
				<p> Accede como candidato, crea tu CV online y serás visible para las empresas en búsqueda de futuros empleados. </p><br>
			</div>
		</div>
		<div class="reg">
			<%= link_to "REGÍSTRATE", new_user_registration_path %>
		</div>
		
	</div>
</section>