<h1 class=" btn be-red white">
<%= link_to 'Nuevo Articulo' , new_article_path%>
</h1>


<div class="container-fluid">
<h1>Articulos</h1>
		<div class="row">
			<%= render @articles %>
		</div>
		<div class="top-space text-center">
			<%= will_paginate @articles %> <!-- Paginacion -->
		</div>
</div>


