<div class="box">
	<h2>¿Olvidaste tu constraseña?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  	<div>
	        <i id = icon class="fa fa-envelope" ></i>
	        <%= f.email_field :email, autofocus: true, placeholder: "Email",class:"form-control" %>
	    </div>

	  <div>
	  <br/>
	    <%= f.submit "Enviar instucciones de recuperación de contraseña", class:"boton" %>
	  </div>

	<% end %>
</div>