<% if current_user.role == "empresa"%>
	<%if Empresa.exists?(:user_id=>current_user.id)%>
		<% controller.redirect_to (@empresa)%>
	<%else%>
		<section id = "site-body">
			<div class="editar">
				<%= render 'form', empresa: @empresa %>
				<div class="volver">
					<%= link_to 'Volver', empresas_path, id:'volver' %>
				</div>
			</div>
		</section>
	<% end %>
<% end %>






